.marginDiv{
    padding: 0.5rem 0px !important;
}

.TableIconContainer{
    margin-top: 1rem !important;
    text-align: center !important;
}

.optionIcons1{
    margin-right: 0.3rem !important;
    font-size: 2;
}